.bmi-section {
  /* background-color: white; */
}

.bmi-section-title-container,
.bmi-table-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
}
.bmi-table-chart {
  margin: 0;
}

.table-chart-container {
  display: flex;
  justify-content: space-between;
}

.bmi-section-title {
  font-size: 65px;
  font-weight: 700;
}

.bmi-table-chart,
.bmi-form {
  width: 50%;
}

caption {
  /* color: white; */
}

/* Form Styles  */

.bmi-form {
  text-align: left;
  margin-left: 2rem;
}


input, 
select {
    border: none;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(164, 164, 164, 0.532);
}

input {
  padding-right: 6rem;
}

select {
  width: 100%;
}

#activity {
  padding-right: 24rem;
}
