@media screen and (max-width: 576px) {
  .ham-bar > i {
    font-size: 30px;
    display: block;
    justify-content: space-between;
  }
  .ul-border,
  nav ul {
    display: none;
  }

/* Shared Styles  */
.btn-primary,
.btn-download-app{
  padding: 16px 40px;
  font-size: 0.8rem;
}

/* Shared Styles Ends */


  /* Banner Section Responsive starts */

  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner-text {
    flex-direction: column;
    width: 100%;
  }
  .banner-text-h1{
    font-size: 3rem;
  }

  .banner-image,
  .banner-image >img {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .banner-image >img {
    width: 80%;
  }

  .banner-text-p {
    font-size: .9rem;
    width: 90%;
  }
  /* Badge Styles  */

  .badge-container-1 {
    top: 150px;
    left: 220px;
  }

  .badge-container-2 {
    top: 212px;
    left: -4px;
  }
  .badge-1 h1{
    font-size: 1.5rem;
  }
  
  .badge-2 h1 {
    font-size: 1.2rem;
  }
  .badge-1 h4,
  .badge-2 h4 {
    font-size: 0.6rem;
  }

  .badge-1 {
    width: 9rem;
    padding: 16px 20px;
  }
  .badge-2 {
    gap: 17px;
    padding: 10px 10px;

  }
  #badge-circle {
    background-color: rgb(230, 83, 60);
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  /* Banner Section Responsive Ends */
  /* Habits and Cards Starts  */

  .cards {
    flex-direction: column;
  }

  /* Habits and Cards Ends  */

  /* Run Extra Mile starts  */
  .extra {
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }
  .extra-text {
    padding: 0;
  }
  .extra-btn {
    padding: 16px 70px;
    width: max-content;
  }
  .run-img {
    width: max-content;
  }
  /* Run Extra Mile Ends  */

  /* Bmi Section Starts  */

  .bmi-content-container {
    flex-direction: column;
    padding-left: 20px;
  }
  .bmi-table,
  .bmi-form {
    align-items: center;
  }

  .bmi-table,
  .bmi-form {
    width: 100%;
  }

  /* Bmi Section Ends  */
  /* Meet our Team Starts  */
  .meet {
    grid-template-columns: 1fr;
  }

  /* Meet our Team Ends  */

  /* Footer Starts  */

  .column-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* Footer Ends  */
}
