@media screen and (max-width: 576px) {
  .ham-bar > i {
    font-size: 30px;
    display: block;
    justify-content: space-between;
  }
  .ul-border,
  nav ul {
    display: none;
  }

  /* Banner Section Responsive starts */

  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner-text {
    flex-direction: column;
    width: 100%;
  }
  .banner-text-h1{
    font-size: 3rem;
  }

  .banner-image,
  .banner-image >img {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  /* .banner-image >img {
    width: 90%;
  } */

  .banner-text-p {
    font-size: .9rem;
    width: 90%;
  }
  /* Badge Styles  */

  .badge-container-1 {
    position: absolute;
    padding: 10px 30px;

    top: 115px;
    left: 190px;
  }

  .badge-container-2 {
    position: absolute;
    /* padding: 15px 35px; */
    top: 250px;
    left: -105px;
  }
  .badge-1 h1 {
    font-size: 2rem;
  }
  .badge-1 {
    width: 13rem;
  }
  .badge-2 {
    display: flex;
    gap: 17px;
  }
  #badge-circle {
    background-color: rgb(230, 83, 60);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: rgb(230, 83, 60);
  }

  /* Banner Section Responsive Ends */
  /* Habits and Cards Starts  */

  .cards {
    flex-direction: column;
  }

  /* Habits and Cards Ends  */

  /* Run Extra Mile starts  */
  .extra {
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }
  .extra-text {
    padding: 0;
  }
  .extra-btn {
    padding: 16px 70px;
    width: max-content;
  }
  .run-img {
    width: max-content;
  }
  /* Run Extra Mile Ends  */

  /* Bmi Section Starts  */

  .bmi-content-container {
    flex-direction: column;
    padding-left: 20px;
  }
  .bmi-table,
  .bmi-form {
    align-items: center;
  }

  .bmi-table,
  .bmi-form {
    width: 100%;
  }

  /* Bmi Section Ends  */
  /* Meet our Team Starts  */
  .meet {
    grid-template-columns: 1fr;
  }

  /* Meet our Team Ends  */

  /* Footer Starts  */

  .column-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* Footer Ends  */
}
