/* Shared Styles */

h1,
p,
li,
td,
th {
  color: white;
}

.btn-primary {
 background-color: rgb(230, 83, 60);
 border: none;
 padding: 16px 40px;
 border-radius: 45px;
 cursor: pointer;
 color: white;
 font-size: 18px;
 font-weight: 600;
 align-self: flex-start;

}

/* colors */
:root {
  --text1: ;
  --text2: ;
}

/* Text Decorations */

.fitness {
  color: rgb(230, 83, 60);
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
}

.fit2 {
  font-size: 6em;
  margin-bottom: 2rem;
}
