@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Font Miama */

@import url(https://db.onlinewebfonts.com/c/be6f31338eebea6cc5467e978fe98ea1?family=Miama+Nueva);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-color: black;
  height: 100vh;
}

main,
.max {
  max-width: 1240px;
  margin: 0 auto;
}

/* Nav styles  */

#home {
  background-color: var(--color-lal);
  color: white;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
}

.header {
  margin-top: 40px;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
nav {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  color: white;
}

nav ul {
  display: flex;
  gap: 55px;
  padding: 12px 30px;
  padding-left: 2px;
}

.ham-bar > i {
  font-size: 30px;
  color: white;
  display: none;
  cursor: pointer;
}

.ul-border {
  border: 2px solid rgba(255, 255, 255, 0.431);
  border-radius: 25px;
}

/* Banner Styles Starts here */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-texts h1 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
  margin-bottom: 30px;
}

#shape {
  font-style: italic;
  font-weight: 500;
}

.btn-1 {
  gap: 25px;
}

.btn-download-app {
  background: black;
  border: 2px solid white;
  padding: 16px 40px;
  border-radius: 45px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-self: flex-start;
}

.banner-texts {
  width: 47%;

}
.banner-img-container {
  width: 35%;

}

.banner-img-container {
  position: relative;
}


.badge-container-1{
  position: absolute;
  top: 115px;
  left: 230px;
}

.badge-container-2{
  position: absolute;
  bottom: 55px;
  left: -135px;
}

.badge-1{
  padding: 10px 30px;
  width: 200px;
}
.badge-2{
  display: flex;
  gap: 17px;
  padding: 30px 40px;
}

.badge-1,
.badge-2 {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  backdrop-filter: blur(15px);
  text-align: left;
 
}

.badge-1 h1{
  font-size: 52px;
}

#badge-circle {
  background-color: rgb(230, 83, 60);
  height: 50px;
  width: 50px;
  border-radius: 90px;
  color: rgb(230, 83, 60);
}

/* Banner Styles Ends here */

/* Havits styles  */

.card-img {
  border: 5px solid rgba(255, 255, 255, 0.334);
  border-radius: 90px;
}

.habits {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.habits-text{
  text-align: center;
}

.cards {
  display: flex;
  margin-top: 50px;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card1 > p {
  color: var(--text-grey);
}

/* Run an Extra Mile  */

.extra {
  border-radius: 24px;
  background-color: rgba(170, 170, 170, 0.222);
  display: flex;
  justify-content: space-around;
}
.extra-text {
  width: 47%;
  display: flex;
  gap: 35px;
  flex-direction: column;
  justify-content: center;
  /* padding: 50px; */
}
.extra-text > .btn-primary {
  padding: 16px 60px;
}

.run-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.run-img {
  border-radius: 25px;
  height: 40vh;
  width: 25vw;
  object-fit: cover;
  object-position: 70%;
}

/* Meet our team  */

.meet-team {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.meet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 25px;
  padding: 20px;
  background-color: rgba(170, 170, 170, 0.222);
  margin-top: 50px;
}

.meet-img-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.text {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.meet-img-1 {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Footer styles  */

.footer {
  background-color: rgba(255, 255, 255, 0.095);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
}

.column-container {
  display: grid;
  grid-template-columns: 3fr repeat(2, 1fr);
  justify-content: center;
  margin: 35px;
  /* background-color: aliceblue; */
}

.column2 {
  line-height: 60px;
  text-align: left;
}
.column2 ul {
  list-style: none;
}

.all-right {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
